
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
__pycache__/*
_test_data/*
checkpoints/*
testing_res/*
testing_set/*
training_res/*
training_set/*
static/uploads/cropped/*
static/uploads/finish/*
static/uploads/results/*
models/model_old.py
util/BasicConvLSTMCell_old.py
util/util_old.py
run_model_old.py
images/*
srn_checkpoints/*
